<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <form action="/user/post/createhandler" method="post">
        {% csrf_token %}
        <label for="">Post : </label>
        <input type="file" name="img" id=""> <br>
        <label for="">Caption : </label>
        <textarea name="caption" id="" cols="30" rows="10"></textarea>
        <input type="submit" name="" id="" value="Post">
    </form>
</body>
</html>